/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
    /* algemeen */
    --color-body: rgb(8, 4, 4);
    --color-white: #FFF;
    --color-focus: #FFF;

    /* --color-accent: rgb(33, 236, 118); */
    --color-accent: #37EFB2;
    --color-accent-lighter: rgb(160, 245, 196);

    --color-titles: rgb(255, 255, 255);

    /* header */
    --color-header: rgba(19, 19, 19, 0.822);

    /* footer */
    --color-footer-text: rgba(255, 255, 255, 0.39);

    /* text */
    --color-text-white: white;
    --color-text-black: black;

    /* testkleuren */
    --color-placeholder: rgb(70, 70, 70);
}

body {
    margin: 0;
    padding: 0;

    color: var(--color-text-white);
    background-color: var(--color-body);

    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;

    text-align: center;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header {
    background-color: var(--color-header);
}

header ul {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;

    gap: 3px;
}

header a {
    display: block;
    padding: 2em;
    white-space: nowrap;
}

header a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

main {
    flex-grow: 1;
}

footer {
    background-color: var(--color-header);
    color: var(--color-footer-text);
}


/* algemeen */

a {
    text-decoration: none;
    color: var(--color-text-white);

    font-weight: 600;
}

a:hover, a:focus {
    color: var(--color-accent);
}

a:focus {
    outline: none;
    color: black;
    background-color: var(--color-accent);
}

h1, h2 {
    font-size: 2em;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    
    color: var(--color-titles);
}

h3 {
    font-size: 1.25em;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    
    color: var(--color-accent);
}

p {
    font-weight: 100;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

::selection {
    background-color: var(--color-accent);
    color: black;
    text-shadow: none;
}

.current {
    color: var(--color-accent);
}

img {
    border-radius: .2em;
}

/* introductie */

.section-1-intro {
    margin: 10em;
    width: 30em;
    font-size: 1.25em;

    max-width: 90%;
    text-align: left;
    position: relative;

    z-index: 1;
}

.section-1-intro h1, p {
    text-shadow: 
    .1em .1em .2em black;
}

.section-1-intro h1 {
    font-weight: 100;
}

.section-1-intro h1 span {
    font-weight: 900;
    color: var(--color-accent);
}

.buttons-werk-cv {
    display: flex;
    gap: 1em;
}

.section-1-intro a {
    display: inline-block;

    width: 15em;
    padding: 1em;

    text-align: center;

    background-color: var(--color-accent);
    color: rgb(0, 0, 0);
    border-radius: .2em;

    transition: .1s;
}

.section-1-intro a:nth-of-type(2) {
    background-color: black;
    color: var(--color-accent);
    outline: solid .1em var(--color-accent);
}

.section-1-intro a:nth-of-type(2):hover, .section-1-intro a:nth-of-type(2):focus {
    background-color: black;
    color: var(--color-accent-lighter);
    outline: solid .1em var(--color-accent-lighter);
}

.section-1-intro a:hover, .section-1-intro a:focus {
    background-color: var(--color-accent-lighter);
}

.section-1-intro a:focus, .section-1-intro a:nth-of-type(2):focus {
    outline: solid .2em var(--color-focus);
}

.video-bg {
    position: fixed;
    top: 0;
    right: -10em;
    height: 100vh;

    z-index: -1;

}

main {
    background-color: rgba(0, 0, 0, 0.644);
}

/* mijn projecten */

/* BELANGRIJK!!!!!!!!! */
/* zet voor die freaking grid shits afbeeldingen neer, want anders blijven ze niet netjes vierkant. Super irritant bro */

.section-2-projecten {
    margin-bottom: 1em;
}

.section-2-projecten p {
    max-width: 90%;
    width: 20em;
    margin: 1em auto;
}

.section-2-projecten ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    width: 100%;
    max-width: 70%;
    margin: auto;
}

@media (max-width: 1200px) {
    .section-2-projecten ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .section-2-projecten ul {
        grid-template-columns: 1fr;
    }
}

.section-2-projecten li {
    position: relative;
}

.section-2-projecten img {
    display: block;

    width: 100%;
    height: 100%;
    transition: .3s;
}

.section-2-projecten img:hover {
    scale: 102%;
}

.section-2-projecten a {
    display: block;

    transition: .2s;
    color: #FFF5;
    border-radius: .2em;
    overflow: hidden;
}

.section-2-projecten a:focus {
    outline: solid .2em var(--color-accent);
}

/* over mij */

/* section 1 introduction */
.section-3-about-me {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.section-3-about-me section {
    text-align: left;
}

.section-3-about-me section h2 {
    margin-bottom: 0;
}

.section-3-about-me h3 {
    margin: 0;
}

.section-3-about-me p {
    max-width: 30em;
    margin: 1em auto;
}

.section-3-about-me img {
    width: 20em;
    max-width: 100%;
}

.about-me-intro {
    margin: auto;
    display: flex;
    gap: 2em;
    text-align: left;
    max-width: 90%;
    position: relative;
}


.about-me-intro a {
    display: inline-block;

    width: 15em;
    padding: 1em;

    text-align: center;

    background-color: var(--color-accent);
    color: rgb(0, 0, 0);
    border-radius: .2em;

    transition: .1s;
}

.about-me-intro a:hover, .about-me-intro a:focus {
    background-color: var(--color-accent-lighter);
}

.about-me-intro a:focus {
    outline: solid .2em var(--color-focus);
}

.about-me-intro img {
    border-radius: .2em;
}

/* section 2/3 headings en paragraphs*/
.about-me-skills h2, .about-me-skills > p, .about-me-skills-soft h2, .about-me-skills-soft > p {
    text-align: center;
}

/* section 2 hard skills */
.section-3-about-me ul {
    max-width: 90%;
    margin: auto;
}

.section-3-about-me li {
    border: solid 1px var(--color-accent);
    padding: 2em;
}

.section-3-about-me li p {
    margin-bottom: 0;
}

.about-me-skills {
    margin: auto;
    text-align: left;
}

.about-me-skills ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* section 3 soft skills */

.about-me-skills-soft li {
    margin: .5em auto;
    padding: 1em;

    font-size: 2em;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    
    color: var(--color-accent);
    background-color: #6bffb51a;
    border: none;
    max-width: 15em;
}

@media (max-width: 720px) {
    .about-me-intro {
        flex-direction: column;
        align-items: center;
    }
    
    .about-me-skills ul {
        grid-template-columns: 1fr;
    }
}

/* contact */

.section-4-contact p {
    max-width: 30em;
    margin: auto;
}

.section-4-contact a {
    text-decoration: underline;
    text-shadow: none;
}

/* projectpagina's */

.project-page {
    margin-bottom: 1em;
}

.project-page img {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;

    transition: .3s;
}

.project-page a:first-of-type {
    display: block;
    width: 50em;
    margin: auto;
    overflow: hidden;
    border-radius: .2em;
}

.project-page a:first-of-type:hover {
    background-color: rgba(0, 0, 0, 0);
}

.project-page a:first-of-type:focus {
    outline: solid .2em var(--color-accent);
}

.project-page img:hover {
    scale: 102%;
}

.project-page p {
    width: 40em;
    max-width: 90%;
    text-align: left;
    margin: auto;
}

.project-page a:last-of-type {
    display: inline-block;
    padding: 1em;
    margin-top: 1em;
    max-width: 90%;
    background-color: var(--color-accent);
    color: rgb(0, 0, 0);
    border-radius: .2em;

    transition: .2s;
}

.project-page a:hover, .project-page a:focus {
    background-color: var(--color-accent-lighter);
    
}

.project-page a:focus {
    outline: solid .2em var(--color-focus);
}